.card {
  display: flex;
  align-items: center;
  background-color: bisque;
}

.image-container {
  margin-right: 1rem;
}

.text-container {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

